.user-table {
  border: solid 1px;
}
.table-header {
  display: flex;
  font-weight: bold;
  border-bottom: solid 1px;
}

.table-content {
  display: flex;
}

.item-name {
  flex: 20%;
}

.item-email {
  flex: 40%;
}

.item-website {
  flex: 40%;
}
