<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button" (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div><span>name: </span>{{ selectedHero.name }}</div>

  <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div>
