.todo-header {
  background-color: #bbc6ce;
  color: white;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
}

.todo-item {
  border-bottom: solid 1px #43f5de;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
}
