.todo-list {
  border: solid 1px #43f5de;
}

.todo-item {
  border-bottom: solid 1px #43f5de;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
}

.completed {
  text-decoration: line-through;
}
